@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
}

a {
  color: #777;
}

.link-btn > a {
  color: white !important;
  text-decoration: none;
}



/* ヘッダー */

.navbar {
  background-color : teal;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-style: italic;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #777;
  text-decoration: none;
} 

.navbar-nav > li > a {
 color: white !important;
 font-weight: bold;
 text-decoration: none;
}

.navbar-nav > li > a:hover {
  color: #c0c0c0 !important;;
}

.dropdown-header {
  color: #777;
  background-color: rgba(200,200,200,0.5); 
}

#dropdown-color {
  background-color: teal;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* TOP */

.top-left {
  text-align: center;
  padding: 48px 60px;
}

.top-left p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

#top-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
  font-size: 63px;
}

.guest-btn {
  margin-top : 10px;
}

.top-right h2 {
  margin-top: 20px;
  font-size: 3em;
  font-weight: 500;
  color: #000;
}

/* 利用者一覧 */

#destroy {
  float: right;
}


/* タスク一覧 */

#table-layout td {
  vertical-align: middle;
}

#table-layout .link-btn {
  margin: auto -6px;
}

#task-name {
  font-size: 1.8rem;
}

/* タスク編集 */

.btn-form {
  margin-top: 10px;
}




